.profile-section-intro {
  display: flex;
  background-color: #000000;
  align-items: center;
  padding: 20px;
}

.list-group {
  background-color: #e1d6d0;
}

.profile-picture {
  margin-right: 20px;
}

.profile-description {
  color: #333;
}

.profile-section .container .row {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .profile-section .container .row {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .list-group-item.list-group-item-action.custom-list {
    /* Added custom-col class */
    background-color: #e1d6d0; /* Background color for custom-col class */
  }
}
